body {
  background-color: #000;
  color: #fcfcfc;
  font-family: 'Roboto', sans-serif;
}

.card-fotos {
  /* background-color: #6c6b6b; */
  color: #fcfcfc;
  width: 20%;
  text-align: center;
}

.card-fotos img{
  width: 100%;
  height: 90%;
}

.section-itens {
  display: flex;
  justify-content: space-around;
}

h3{
  margin: 0;
  margin-top: 10px;
}

.sub-title {
  border-left: red solid 4px;
  padding-left: 8px;
}

.titulo-card {
  display: flex;
  justify-content: end;
  position: relative; 
}

.titulo-card .fa-star {
  position: absolute;
  filter: drop-shadow(1px 0px 7px #fff);
}


/**************RESPONSIVIDADE************/
@media screen and (max-width: 600px) {
  .card-fotos{
    width: 45%;
    margin-top: 10px;
  }

  .section-itens{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card-fotos img{
    height: 80%;
  }
}

